@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>You can only refresh this page 5 times per minute or 10 times per hour before being blocked (whichever comes first). Try it!</h1>
    <a href="Home/Privacy" class="btn btn-primary">Another test page about using IThrottleCache directly</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
